body {
  background-color: #101010;
  font-family: monospace;
}

#game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%) scale(2);
  transform-origin: 50% 50%;

  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;

  &.start {
    top: 5%;
    transform:  translate(-50%, 0%) scale(1);

    .logo {
      opacity: 0;
      height: 0;
      margin-bottom: 0;
    }

    .description {
      opacity: 0;
    }
  }
}

#input-area {
  text-align: center;

  input {
    width: 50px;
    height: 50px;
    border: 0px solid black;
    background-color: white;
    text-align: center;
    font-size: 20px;

    &:disabled {
      background-color: #101010 !important;
      color: white;
    }
  }

  button {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    color: white;
  }
}

#log {
  position: absolute;
  top: 0;
  margin-top: 68px;
  z-index: -50;

  &.animate {
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
  }

  &.newLog {
    margin-top: 0;
  }

  .log-entry {
    margin-bottom: 15px;

    .num {
      display: inline-block;
      width: 50px;
      height: 48px;
      text-align: center;
      font-size: 20px;
      color: white;
      line-height: 50px;
    }

    .bar {
      height: 5px;

      .right, .position, .wrong {
        height: 100%;
        width: 50px;
        float: left;
        margin-right: 7px;
      }

      .right {
         background-color: #327914;
       }

      .position {
        background-color: #795300;
      }

      .wrong {
        background-color: #790F00;
      }
    }
  }

  &.hide {
    opacity: 0;
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-lock-closed::before {
    content: "\f023";
  }

  &-lock-open::before {
    content: "\f13e";
  }
}

.logo {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 20px;

  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.description {
  color: white;
  font-size: 8px;
  margin-top: 25px;

  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}